# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
.venv/
env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Django
# ----------------------------
db.sqlite3
media/
staticfiles/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Testing
# ----------------------------
.coverage
htmlcov/
.pytest_cache/

# ----------------------------
# Build
# ----------------------------
dist/
build/

# ----------------------------
# Misc
# ----------------------------
*.bak
*.tmp

staticfiles/