<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Deployment</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body>

<div class="container">

    <h1>Hello Deployment 🚀</h1>

    <p>
        Congratulations!
    </p>

    <p>
        Your Django application is running successfully.
    </p>

    <p>
        Next we will deploy this application using Docker.
    </p>

</div>

</body>
</html>