body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
}

.container {
    width: 700px;
    margin: 80px auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.08);
}

h1 {
    color: #1565c0;
}

p {
    font-size: 18px;
    line-height: 1.7;
}